.page
  .circle-loader
    .circle-line
      .circle.circle-blue
      .circle.circle-blue
      .circle.circle-blue
    .circle-line
      .circle.circle-yellow
      .circle.circle-yellow
      .circle.circle-yellow
    .circle-line
      .circle.circle-red
      .circle.circle-red
      .circle.circle-red
    .circle-line
      .circle.circle-green
      .circle.circle-green
      .circle.circle-green